

etiqueta{  
   font-size: 20px; font-family: 'Montserrat', sans-serif;
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  
 
entrada{
   font-size: 20px; font-family: 'Montserrat', sans-serif;
   width: 450px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}